{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TMC</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'tmc/bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">
    <link rel="icon" href="{% static 'tmc/img/favicon.ico' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'tmc/bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker.standalone.css' %}">

</head>
<body class="bg-light">

<div class="container">

    <div class="py-5 text-center">
    <h2>Obtener TMC</h2>
    </div>

    <form class="card p-2" action="{% url 'tmc:calculate' %}" method="post" id="example" name="example">
        {% csrf_token %}

        <div class="mb-3">
        <label for="amount">Monto (UF): </label>
        <input class="form-control" type="text" id="amount" name="amount" maxlength="8" required>
        </div>
        <div class="mb-3">
        <label for="credit_term">Plazo (días): </label>
        <input class="form-control" type="text" id="credit_term" name="credit_term" maxlength="3" required>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="contract_date">Fecha contratación: </label>

                <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                    <input class="form-control" type="text" id="contract_date" name="contract_date" required placeholder="yyyy-mm-dd">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>

            </div>
            <div class="col-md-6 mb-3">
                <label for="tcm_query_date">Fecha consulta tcm: </label>

                <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                    <input class="form-control" type="text" id="tcm_query_date" name="tmc_query_date" required placeholder="yyyy-mm-dd">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                    </div>
                </div>

            </div>
        </div>
        <hr class="mb-4">
        <div class="mb-3">
        <button class="btn btn-primary btn-block" type="submit">Enviar</button>
        </div>
    </form>


    <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2020 mauven</p>
    </footer>



</div>




<script src="{% static 'tmc/js/jquery-3.4.1.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="{% static 'tmc/bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>

<script src="{% static 'tmc/bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'tmc/bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.es.min.js' %}"></script>

</body>
</html>