{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TMC</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'tmc/bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">
    <link rel="icon" href="{% static 'tmc/img/favicon.ico' %}">

</head>
<body class="bg-light">

    <div class="container">

        <div class="py-5 text-center">
            <h2>TMC calculada</h2>
        </div>

        <div class="card p-2">


        {% if rate_result %}
        <p class="lead"> El cálculo de tmc es: {{rate_result}}</p>
        {% else %}
            {% if message %}
            <p class="lead"> {{message}} </p>
            {% else %}
            <p class="lead"> No hay resultados </p>
            {% endif %}
        {% endif %}

        </div>
        <br/>
        <p class="lead"><a href="/tmc/"> Volver </a></p>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2020 mauven</p>
        </footer>

    </div>


<script src="{% static 'tmc/js/jquery-3.4.1.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="{% static 'tmc/bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>

</body>
</html>

